// Fonts

$font-title: 'NAMU', 'Arial', sans-serif;
$font-base: 'Circle', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Colors

$blue: #1143c0;
$lightBlue: #1976d2;
$lightOrange: #ff3d00;
$green: #0d9739;
$yellow: #ecb55a;

$text: #1e1e1e;
$text-light: #6a6a6a;

$placeholder: rgba(30, 30, 30, 0.7);
$placeholder-light: #dddddd;

$background: #f5f4ef;

$white: #ffffff;
$black: #000000;

$blueShadow: #e2edf9;
$darkShadow: rgba(140, 152, 164, 0.13);

// Media
$desktop: 1320px;
$tablet: 959px;
$phone: 540px;
